Flow 3.json
[
    {
        "id": "565cbc66.4f7a34",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad303963.4f7c58",
        "type": "inject",
        "z": "565cbc66.4f7a34",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "2d724a33.b44506"
            ]
        ]
    },
    {
        "id": "2d724a33.b44506",
        "type": "function",
        "z": "565cbc66.4f7a34",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"Nb4jPQ9jvwmYz6gF\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "7f154db6.2797a4"
            ]
        ]
    },
    {
        "id": "7f154db6.2797a4",
        "type": "http request",
        "z": "565cbc66.4f7a34",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DtuolCRG/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "ece20f1a.e11ad",
                "9269371f.917b48"
            ]
        ]
    },
    {
        "id": "ece20f1a.e11ad",
        "type": "http response",
        "z": "565cbc66.4f7a34",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "9269371f.917b48",
        "type": "debug",
        "z": "565cbc66.4f7a34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 320,
        "wires": []
    }
]